<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actu17.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>424DABE46DC2939EDDCE54BA7791624E45FD413E</string>
				<key>dateExpires</key>
				<string>27/08/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>424DABE46DC2939EDDCE54BA7791624E45FD413E</string>
						<key>dateExpires</key>
						<string>27/08/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TeadsSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8BVT4L2QY</string>
						<key>name</key>
						<string>CAN Bernard</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D8BVT4L2QY.com.actu17</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D8BVT4L2QY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>actu17.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d39846f3-41fe-4a14-ad43-ab8a1e2d7557</string>
				<key>name</key>
				<string>Cédric Prod</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D8BVT4L2QY</string>
				<key>name</key>
				<string>CAN Bernard</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
